

*{
  padding: 0px;
  margin: 0px;
}
body{
  width: 800px;
  margin: auto;
}
#top{
  height: 100px;
  background: #0099ff;
  text-align: center;
  line-height: 100px;
}

#menu{
  height: 30px;
  background: rgb(209, 153, 209);
}
#menu ul li{
  list-style-type: none;
  float: left;
  width: 160px;
  text-align: center;
  line-height: 30px;
}
#menu ul li a{
  text-decoration: none;
  color: black;
}

#left{
  float: left;
  width: 612px;
  border-right: 1px solid gray;
}
.newa{
  border-bottom: 1px solid gray;
  margin: 5px 10px 5px 10px;
  padding-bottom: 5px;
}
.newa h3{
  
  margin-bottom: 5px;
}
.newa img{
  border: 1px solid gray;
  padding: 2px;
  float: left;
  margin-right: 5px;
}
#right{
  float: left;
  width: 183px;
  border: 1px solid black;
}
#boytom{
  height: 400px;
  background: gray;
}